body {
  background: black;
  color: white;
}

.LoginForm {
  height: 100vh;
  background-image: url('./assets/netflixbackground.jpg');
  background-size: cover;
}

.navbar {
  width: 90%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
  z-index: 1;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-left img {
  width: 90px;
}

.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbar-left ul li {
  cursor: pointer;
}

.net-Logo {
  width: 150px;
}

.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}

.navbar-right .profile {
  border-radius: 4px;
  width: 30px;
}

.navbar .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  width: 22px;
}

.navbar .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 18px 22px;
  border-radius: 2px;
  text-decoration: underline;
  z-index: 1;
  display: none;
}

.navbar .dropdown p {
  font-size: 13px;
  cursor: pointer;
}

.navbar-profile .arrow {
  width: 20px;
}

.navbar-profile:hover .dropdown {
  display: block;
}

/*login background*/
.Bg-cover {
  width: fit-content;
  height: 100vh;
  position: absolute;
  background-color: black;
  top: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

/*home page*/

.home-sweet {
  position: relative;
}

.banner-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%);
  -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}

.hs-caption {
  position: absolute;
  width: 100%;
  padding-left: 6%;
  bottom: 0;
}

.caption-img {
  width: 90%;
  max-width: 420px;
  /* margin-bottom: 30px; */
}

.hs-caption p {
  max-width: 550px;
  font-size: 18px;
  margin-bottom: 20px;
}

.hs-btns {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.hs-btns .btn img {
  width: 25px;
}

.hs-btns .btn {
  border: 0;
  outline: 0;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.hs-btns .btn.dark-btn {
  color: #fff;
  background: #6d6d6eb3;
}

.hero-btns .btn:hover {
  background: #ffffffbf;
}

.hs-btns .btn.dark-btn:hover {
  background: #6d6d6e66;
}
