body {
  background: black;
  color: white;
}

/*Login page*/

.login {
  height: 100vh;
  background-image: linear-gradient(15deg, #0000007e, #2523237e),
    url('./assets/netflixbackground.jpg');
  padding: 20px 8%;
  background-size: cover;
}
.login-logo {
  width: 150px;
}

.login-form {
  width: 90%;
  max-width: 325px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 40px;
  margin: auto;
}

.login-form h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 28px;
}

.login-form input {
  width: 85%;
  height: 15px;
  background: #333;
  color: white;
  margin: 12px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 500;
}

.login-form input::placeholder {
  font-size: 16px;
  font-weight: 500;
}

.login-form button {
  width: 98%;
  margin-left: 10px;
  border: 0;
  outline: 0;
  padding: 15px;
  background: #e50914;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
  cursor: pointer;
}

.form-help {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b3b3b3;
  font-size: 13px;
}

.remember {
  display: flex;
  align-items: center;
  gap: 5px;
}

.remember input {
  width: 18px;
  height: 18px;
}

.form-switch {
  margin-left: 40px;
  color: #737373;
}

.form-switch span {
  margin-left: 6px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

/*Navbar*/
.navbar {
  width: 90%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  z-index: 1;
}

.navbar-dark {
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #ffffff !important;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navbar-left img {
  width: 90px;
}

.navbar-left ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.navbar-left ul li {
  cursor: pointer;
}

.net-Logo {
  width: 150px;
}

.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-right .icons {
  width: 20px;
  cursor: pointer;
}

.navbar-right .profile {
  border-radius: 4px;
  width: 30px;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
  width: 22px;
}

.navbar .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background: #191919;
  padding: 10px 22px;
  border-radius: 2px;
  text-decoration: underline;
  z-index: 1;
  display: none;
}

.navbar .dropdown p {
  font-size: 13px;
  cursor: pointer;
}

.navbar-profile .arrow {
  width: 20px;
}

.navbar-profile:hover .dropdown {
  display: block;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
}

/*login background*/
.Bg-cover {
  width: fit-content;
  height: 100vh;
  position: absolute;
  background-color: black;
  top: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

/*home page*/

.home-sweet {
  position: relative;
}

.banner-img {
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 75%),
    linear-gradient(to top, transparent, black 75%);
  mask-composite: intersect;

  /* -weblit-mask-image: linear-gradient(to right, transparent, black 75%); */
}

.hs-caption {
  position: absolute;
  width: 90%;
  padding-left: 6%;
  bottom: -50px;
}

.caption-img {
  width: 90%;
  max-width: 420px;
  margin-bottom: -30px;
}

.hs-caption p {
  max-width: 550px;
  font-size: 18px;
  margin-top: 28px;
}

.hs-btns {
  display: flex;
  gap: 10px;
  /* margin-bottom: 50px; */
}

.hs-btns .btn img {
  width: 25px;
}

.hs-btns .btn {
  border: 0;
  outline: 0;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.hs-btns .btn.dark-btn {
  color: #fff;
  background: #6d6d6eb3;
}

.hero-btns .btn:hover {
  background: #ffffffbf;
}

.hs-btns .btn.dark-btn:hover {
  background: #6d6d6e66;
}

/*Title page css*/

.title-crads {
  /* margin-top: 50px; */
  margin-bottom: 30px;
}

.title-crads h2 {
  margin-bottom: 8px;
}

.title-crads p {
  margin: 0px;
}

.card-list {
  display: flex;
  gap: 10px;
  overflow: scroll;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-list img {
  width: 150px;
  height: 220px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* .card-list img :hover {
  width: 200px;
} */
.card-list .card {
  position: relative;
}
.card-list .card p {
  /* position: absolute; */
  bottom: 5px;
  right: 10px;
}

.more-cards {
  padding: 4%;
}

.footer {
  padding: 20px 4%;
  max-width: 1000px;
  margin: 0 auto;
}
.footer-icons {
  display: flex;
  gap: 20px;
  margin-left: 38px;
}
.footer-icons img {
  width: 30px;
  cursor: pointer;
}
.footer ul {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  margin-bottom: 20px;
  list-style: none;
}

.copyright-text {
  color: gray;
  font-size: 14px;
}
